	<!-- <div class="lines"  style="top:37px;">
		<div class="hor">+------------------------------------------------------------------------------+</div>
		<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="hor">+------------------------------------------------------------------------------+</div>
	</div> -->
	
	<div id="title">ABOUT</div>
	
	<div style="clear:both;" />
	

	<div class="proximity" style="margin-top:0px;">
		
		<div class="proximity_content" style="float:left;">
			<div style="margin-bottom:30px;">How would an interface with its own consciousness, senses, and gestures reverse the passive role of user in Interaction Design? My remixing experiments introduce a playful aesthetic to familiar interfaces, which afford open reflections and interpretations. Remix Interactions are mash-ups of hacked web technology and humanistic expressions: a radical response to patterns of interface design which predicts human behavior. The work aims to provide room for people to speculate about human condition in the digital age.</div> 

<!-- <img src='/images/about_google.png' style="width: 750px;"/> -->

	  	<div style="margin-bottom:30px;">Pixel Monster outfits people with subversive technology for web images which transforms the passive end user into an active web space owner. As an equipment for consciousness, Anti-Like Magnet enables people to think and act critically about the prescribed interfaces of Facebook. The Search Operators opens up a narrative space inhabited by three sloppy Google operators - Jarek, Remo, and the yawning Surina - which allows people to speculate upon an emotional reality within technology. By anthropomorphizing interface elements using the latest web technology such as HTML5 and CSS3 transform, I have composed narrative spaces within interactions. These experiments are collaborative with Chawei Hsu in web development.</div> 

	  	<div style="margin-bottom:30px;">A Critical Design scenario attempts to project a possible future situation by creating fictive artifacts. In contrast with Critical Design, Remix Interactions aims to bring critical thinking into our digital life by providing interactive experience. As Marshall McLuhan wrote, "Everybody Experiences far more than he understands. Yet it is experience, rather than understanding, that influences behavior."
	  	</div> 
	
			<div id="author">
				<div style="font-weight:bold;margin-bottom:5px;">Yuin Chien</div>
				<div>MFA Candidate, Spring 2011</div>
				<div>Media Design Program</div>
				<div>Art Center College of Design</div>
				<div>More Work: <span><a href="http://www.yuinchien.com" target="_blank">www.yuinchien.com</a></span></div>
			</div>
			
		</div>
		
		
		<div id="about_listing">
			<div style="text-decoration:underline;">Thesis Advisors</div>
			<div>Phil Van Allen</div>
			<div>Elise Co</div>
			<div>Rob Ball</div>
			
			<div style="margin-top: 30px; text-decoration:underline;">Writing Advisor</div>
			<div>Thea Petchler</div>
		</div>
		
	</div>	
