
<div id="title">EXHIBITION</div>
<div style="clear:both;"></div>

<div class="proximity" style="margin-top:0px">
	
<iframe src="http://player.vimeo.com/video/23273352?title=0&amp;byline=0&amp;portrait=0" width="700" height="394" frameborder="0"></iframe>
		
	<div id="exhbition_imgs">

		<img src="http://farm6.static.flickr.com/5225/5671981278_9826f2eb6b_b.jpg" />
		<img src="http://farm6.static.flickr.com/5070/5671422993_4f441485fa_b.jpg" />
		<img src="http://farm6.static.flickr.com/5222/5671987930_7ee43a1eb4_b.jpg" />
		<img src="http://farm6.static.flickr.com/5070/5671416719_9089760840_b.jpg" />
		<img src="http://farm6.static.flickr.com/5263/5671980502_e764b0ea73_b.jpg" />
		
		<img src="http://farm6.static.flickr.com/5305/5669859699_cbbb6836b8_b.jpg" />
		<img src="http://farm6.static.flickr.com/5065/5671415359_806e3cb0ac_b.jpg" />
		<img src="http://farm6.static.flickr.com/5308/5669865707_04d477ba6d_b.jpg" />
		
		<img src="http://farm6.static.flickr.com/5141/5669975971_3ab4da616f_b.jpg" />
		<img src="http://farm6.static.flickr.com/5267/5669967277_35121d86fd_b.jpg" />
		<img src="http://farm6.static.flickr.com/5101/5670434428_8862dd49ab_b.jpg" />



		
	</div>

</div>	
