

<div id="blurb">
	
	<img src="http://farm6.static.flickr.com/5225/5671981278_9826f2eb6b_b.jpg" style="max-width: 900px;"/>
	
	<div id="text" style="font-size:12px;width:475px;margin-top:-100px;margin-left: 26px; color:#fff;background-color:#fff;">Hijackers is a radical response to patterns of interface design that predict user behavior. These mash-ups of hacked web technology and quirky human expressions illuminate our complicity in the digital status quo.</div>
</div>
