<div id="blurb">
	<div id="" style="margin-top:-70px"><img style="border:none;" src="/images/thesis/banner.png" /></div>
	<div id="text" style="font-size:12px;width:396px;margin-top:-230px;margin-left: 30px;">Hijackers is a radical response to patterns of interface design that predict user behavior. These mash-ups of hacked web technology and quirky human expressions illuminate our complicity in the digital status quo.</div>
</div>