
<div id="title">MISSION #2: ANTI-LIKE MAGNET</div>
<div style="clear:both;"></div>

<!-- <img src="/images/thesis/magnet/icon2.png" style="width:700px" /> -->
<iframe src="http://player.vimeo.com/video/24196020?title=0&amp;byline=0&amp;portrait=0" width="700" height="464" frameborder="0"></iframe>
<div class="proximity" style="margin:5px 0 10px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>Install the Magnet at Chrome Store: <a href="https://chrome.google.com/webstore/detail/mgeeepihnhfpcjlaiipihaabmmgjllio" target="_blank">Download</a></div>
	</div>
</div>

<img src="/images/thesis/magnet/site.png" style="width:700px" />
<div class="proximity" style="margin:5px 0 30px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>See how the Magnet is Used Geographically: <a href="http://magnet.detourlab.com" target="_blank">magnet.detourlab.com</a></div>
	</div>
</div>

<div style="clear:both;"></div>

<div class="proximity_col">
	<!-- INTRODUCTION -->
	<div class="proximity">
		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>
		
		<div class="proximity_content">
			<div class="desc_title">Introduction</div>
		
			<div class="desc">
				<div class="question">Citizens, Not Users!</div>
				<div class="question">Think Twice Before You Like!</div>
				<div>It's not a secret, but like buttons in Facebook are not what they seem. As reported in several new articles and commentaries, like button is a smart commercial strategy for Facebook to collect your personal data, and use it as their asset for advertising. While Facebook is dictating our social behaviors and personal profiles, people should be sensible about the social tools and their consequences. As Marshall McLuhan wrote, "The More the Data Banks Record About Each One of Us, The Less We Exist."</div>
				<div>In response to that, Ant-Like Magnet enables people to think and act critically about the prescribed interfaces in Facebook. The Anti-Like Magnet lives in your facebook margin, allowing you to magnetize and paralyze the Like features. </div> 
	
				<div>This project achieves pattern breaking by enabling people to revoke existing interfaces, to paralyzes them, and to reject them.</div>
			
				<img src="/images/thesis/magnet/like_counter.png" />
				<img src="/images/thesis/magnet/magnet.png" />
			
			</div>
		</div>
	</div>

	<!-- FUTURE WORK	 -->
	<div class="proximity">
		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">&nbsp;</div>
		</div>

		<div class="proximity_content">
		
			<div class="desc_title">Future Work</div>
		
			<div class="desc">
				
				<div class="question">The Magnet for Repulsive Interfaces</div>
			
				<div>Many People ask the question "Does it magnetize other objects as well?" It leads me to think of creating a Magnet for repulsiveness defined by people! It will be a personalized machine that could distaste anything on the Web. The result of it will be a garbage dump showcasing the varieties of unwanted digital objects throughout time.</div>
			</div>
			
		</div>	
	</div>
	
</div>

<div class="proximity_col">
	<!-- PEOPLE KNOWING	 -->
	<div class="proximity">

		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>	
		</div>

		<div class="proximity_content">
			<div class="desc_title">People Knowing</div>
		
			<div class="desc">
				<div class="question">Very interesting gadget. I like how all the "Like"s  jiggling around when I click on the magnet. <span style="font-family:'san-serif';font-style:normal;">: )</span> <span style="color:#bbb;">-Annoymous</span> </div>
				<div class="question">It's kind of creepy. I have Anti Like installed but I still can 'Like' this post! Time to use my Anti Like extension. ;o <br><span style="color:#bbb;">-Affuan Ramzai</span></div>
			
				<div>The Magnet is generally perceived as a very interesting gadget with its magical capability to magnetize like buttons. Some people commented that "the like counter" turned them into compulsive magnet users, because the number of "Likes Seen Today" is almost unbeatable! </div>
			
				<div>As an everyday accessory, it enables people to be more and more conscious about how they "social" with friends digitally. People start to ask questions such as "Is clicking this Like button a lazy way of connecting people?" "Why am I given thousands of Like buttons everyday?" </div>
			
				<div>It's also very interesting to visualize how the Magnet affects people who speak different languages and live in different places in the world! It demonstrates the diversities of people who are forming the Anti-Like campaign against Facebook! </div>
			
				<img src="http://farm6.static.flickr.com/5226/5669957215_84ee58a286_b.jpg" style="width:550px;" />
			
			</div>
		</div>
	</div>


</div>