
<div id="title">REMIX INTERACTIONS</div>
<div style="clear:both;" />


<div class="proximity_col">

	<div class="proximity">
	
		<div class="lines">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
			<div class="desc_title">Subversive & Playful</div>
			<div class="desc">			
				<div>The spirits of Remix Interactions, are subversive, playful, and unpredictable. What is unusual about kids' play, is that there's no calculation between good or bad, right or wrong, but pure imagination and fun. Such illuminating play requires designers to situate themselves in an open open mindset that affords creativity and imagination which are genuine and unpretentious.</div>
			</div>
		</div>
	
	</div>
		
	
	<div class="proximity">

		<div class="lines">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
			<div class="desc_title">Prototyping</div>
			<div class="desc">			
				<div>Prototyping is part of the design process. To achieve pattern breaking, first you have to identify the limitations of traditions, in this case: Patterns of Interface Design. Secondly, Knowing the constraint and affordance of the technical framework is crucial for devising strategies to reverse the conventions: understanding Web Technology.</div>
				<div>"Art challenges technology but technology inspires art", said Creative Director of Pixar - John Lasseter. Remix Interactions communicates ideas through interactions rather than fictive artifacts or videos. The process of iterations in prototyping also advances shaping critical perspectives and defining new mode of interaction design. People knowing is achieved through releasing real applications to the public and receiving responses by real users both positive and negative. The work is constantly evaluated and reshaped by understanding people and to tease out the interesting aspects of the subject.</div>
			</div>

		</div>
	
	</div>

</div>


<div class="proximity_col" >
	
	<div class="proximity">

		<div class="lines">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
			<div class="desc_title">Human Expressions</div>
			<div class="desc">			
				<div>To fuse the gap between people and technology, Remix Interactions brings human imperfections and expressions into the play of Interaction Design. By anthropomorphizing interface elements, narrative spaces are composed within interactions. </div>
			</div>

		</div>
		
	</div>
	
	<div class="proximity">

		<div class="lines" >
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
			<div class="desc_title">Critical Account</div>
			<div class="desc">			
				<div>A Critical account of the digital status quo is most persuasive when the work speaks in such a language that is provocative to general public, stimulating to technologists, and inspiring to designers. It is the objective of Remix Interactions to propose a new mode of interaction design that would fulfill such a play.</div>
			</div>

		</div>
	
	</div>

</div>