
<div id="title">MISSION #1: PIXEL MONSTER</div>
<div style="clear:both;" />

<a href="https://chrome.google.com/webstore/detail/hpcnpeooeefjifgmdnfahcmkefgmpphj" target="_blank"><img src="/images/thesis/monster/cnn.png" /></a>
<div class="proximity" style="margin:5px 0 10px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>Install Monster at Chrome Store: <a href="https://chrome.google.com/webstore/detail/hpcnpeooeefjifgmdnfahcmkefgmpphj" target="_blank">Download</a></div>
	</div>
</div>

<a href="http://monster.detourlab.com" target="_blank"><img src="/images/thesis/monster/site2.png" /></a>
<div class="proximity" style="margin:5px 0 30px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>See the Monster Bites: <a href="http://monster.detourlab.com" target="_blank">monster.detourlab.com</a></div>
	</div>
</div>

<div style="clear:both;" />

<div class="proximity_col">

	<!-- INTRODUCTION -->
	<div class="proximity">
		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
		
			<div class="desc_title">Introduction</div>
		
			<div class="desc">
				<div class="question">What if Pixels are Edible?</div>
						
				<div style="margin-top:20px;">Pixel Monster outfits people with subversive technology for web images which transforms the passive end user into an active web space owner. To send a monster out you click the icon on the top left corner on the image, it will munch pixels and reclaim the web space for you!</div> 
				<div>It introduces the potential of opening up the Web for personal expressions in visual forms other than text through browser extension technology, which is a realization of graffiti on the web. The ability to see the web as public space, where people can comment and shape the landscape is a radical shift towards open digital society.</div>
		
				<img src="http://farm6.static.flickr.com/5070/5671416719_9089760840_z.jpg" style="width:550px"/>
			</div>
		
		</div>	
		
	</div>	

	<!-- FUTURE WORK -->
	<div class="proximity">
		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>	
		</div>

		<div class="proximity_content">
		
			<div class="desc_title">Future Work</div>
		
			<div class="desc">
				<div class="question">A Toolkit for Subverting the Web.</div>
						
				<div style="margin-top:20px;">How can we design a subversive toolkit that would outfit people to attack online elements such as news articles, videos, typographical layouts, buttons, and etc? Can we gain more insight into how we perceive information, people, or web services on the web through disrupting behaviors? The future work is to create a platform for Web Graffiti that enables personal expressions in forms of both visual and linguistic. It will afford reflective thinking and understanding of our conditions in the digital society and help reshape the infrastructure of the Web.</div>
		
			</div>
		
		</div>	
		
	</div>
		
</div>


<div class="proximity_col">

	<!-- REVIEWS -->
	<div class="proximity">
		<div class="lines" style="top:-19px">
			<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
			<div class="ver">&nbsp;</div>
			<div class="ver">/</div>
			<div class="ver">/</div>
		</div>

		<div class="proximity_content">
				
			<div class="desc_title">People Knowing</div>
		
			<div class="desc">
				<div class="question">It's really funny to watch monster biting all over the screen. <span style="color:#bbb;">-K</span></div>
				<div class="question">i like it, but can you make it more customizable? chose the color of the monster? a speed setting? <span style="color:#bbb;">-anonymous</span></div>
						
				<div style="margin-top:20px;">The reviews from Chrome Store generally desire for more entertaining features. The current version of Pixel Monster doesn't supply much control over the munching action, which frustrates some of the users. Most of the time people pick up the idea of subverting the web very quickly, and feel exhilarated to see images destroyed. I learned to take people's feedbacks of whether good or bad as valuable inputs to my project. While knowing about people's need, they also help clarify my own interests on the subject, and think deep about what's really interesting to me and others. I learned to balance between people's need and my own pursue, through understanding real users.</div>
			
				<div style="margin-top:20px;">The image archive and analysis of their sources on Monster website provide insights to learn about how people perceive different online images. The fact that Facebook ranks as Top 1 image source is an evidence of strong emotions many people have towards their friends in the digital Social Network, whether they are positive or negative. Some people responded that it's tiring of looking at friends' self-indulgent images, while some felt funny just to subvert familiar faces. Archived images also demonstrate peoples' intense feeling towards many subjects: Egyptian revolution, Justin Bieber, Google logos, advertising, porn, and etc.</div>
			
						<img src='http://farm6.static.flickr.com/5269/5669863537_4d13df5ba4_b.jpg' style="width:550px;"/>
					
			</div>
		
		</div>	
		
	</div>	


</div>