<!-- <div class="lines"  style="top:37px;">
	<div class="hor">+------------------------------------------------------------------------------+</div>
	<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="hor">+------------------------------------------------------------------------------+</div>
</div> -->

<div id="title">PROXIMITIES</div>
<div style="clear:both;" />

<div class="proximity_col">
	<div class="proximity">
	
	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
	</div>
	
	<div class="proximity_content">
		<div class="desc_title">Graffiti Culture</div>
		<div class="desc">
		
			<div class="question">Why Is The Web Graffiti-less?</div>
		
			<img src="/images/thesis/banksy2.png" />
			
			<div>"Any advert in public space that gives you no choice whether you see it or not is yours. It's yours to take, re-arrange and re-use. You can do whatever you like with it. Asking for permission is like asking to keep a rock someone just threw at your head." - Graffiti Artist Banksy</div>

    	<div>Can the web preserve an open space for people to express themselves in other forms of blogs or twits? Can Web Graffiti be a movement for self expression by providing dynamic walls for people to create, to write,to share, to be heard?</div>

		</div>
	</div>
</div>

	<div class="proximity">
	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
	</div>
	
	<div class="proximity_content">
		<div class="desc_title">Hacker Culture</div>
		<div class="desc">
			<div class="question">Live Free or Die.</div> 
			<img src="/images/thesis/wank.jpg" style="width: 530px;"/>
			<div>On oct/16/1989, the first big hacker attack that carries political message, led by these Australian teenage hackers who took over NASA's computer in Maryland and spread this message onto the screen. </div>
		
		
			<div>Hacker traits that intrigues me:</div>
			
			<ul>
				<li>Creating software and sharing it with each other</li>
        <li>Placing a high value on freedom of inquiry; hostility to secrecy</li>
        <li>Distaste for authority</li>
        <li>Playful cleverness, taking the serious humorously and their humor seriously</li>
			</ul>
		
		</div>
	</div>	
</div>

</div>

<div class="proximity_col">
	<div class="proximity" >
	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
	</div>
	
	<div class="proximity_content">
		<div class="desc_title">Interface Design</div>
		<div class="desc">
	  	<div class="question">What's the Definition for Great Software?</div>
			<img src="/images/thesis/ui2.png" style="width: 530px;"/>
			<div>Here is the list of Characteristics of Great Software that defined in the bible of Interface Design: Apple Human Interface Guidelines </div>
		
			<ul>
				<li>High Performance</li>
				<li>Ease of Use</li>
				<li>Attractive Appearance</li>
				<li>Reliability</li>
				<li>Adaptability</li>
				<li>Interoperability</li>
				<li>Mobility</li>
			</ul>

		
			<div style="margin-top:10px">Web Interactions today happen mostly in User Interfaces. Meanwhile, Interface Design has been optimized solutions for usabilities and engineering. Today people value interface and great software design in engineering terms such as reliability, and mobility, the only design requirement is about appearance, does is look pretty? How does usability test score?
			<div>As John Dewey said "Complete adaptation to environment means death. The essential point in all response is the desire to control environment."

			<div>What interests me is Web Interaction beyond guidelines. Can we design interactions with characters and stories in mind rather than the functional aspects? Can interaction design reverse the passive role of user? Why webpages should look the same? Can web space be less virtual by preserving the nuances and qualities that we treasure in the physical world? </div>
		
		</div>
	</div>
</div>

</div>

