<div class="lines"  style="top:37px;">
	<div class="hor">+------------------------------------------------------------------------------+</div>
	<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="ver">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	<div class="hor">+------------------------------------------------------------------------------+</div>
</div>

<div id="title">MISSION #3: THE SEARCH OPERATORS</div>

<iframe src="http://player.vimeo.com/video/20571211?title=0&amp;byline=0&amp;portrait=0" width="551" height="413" frameborder="0"></iframe>
<div class="proximity" style="margin:5px 0 10px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>Experience Sloppy Google: <a href="http://search.detourlab.com" target="_blank">search.detourlab.com</a></div>
	</div>
</div>

<a href="http://search.detourlab.com/trends.html" target="_blank"><img src="/images/thesis/search/trends.png" /></a>
<div class="proximity" style="margin:5px 0 30px 0;">
	<div class="lines" style="top:6px">
		<div class="ver">+</div>
	</div>
	<div class="proximity_content">
		<div>See The Sloppy Google Trends: <a href="http://search.detourlab.com/trends.html" target="_blank">search.detourlab.com/trends</a></div>
	</div>
</div>

<!-- INTRODUCTION -->
<div class="proximity">
	
	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div>
	</div>
	
	<div class="proximity_content">
		
		<div class="desc_title">Introduction</div>
		
		<div class="desc">
			
			<div class="question">What if Google Got Lazy?</div>
			<div class="question">Can Google have human conditions such as dyslexic or impatient?</div>
			
			<img src="/images/thesis/search/yawn.jpg" style="width:530px;">
			
			<div>The Search Operators opens up a narrative space of three sloppy Google operators - Jarek, Remo, and the yawning Surina - that allows people to speculate upon an emotional reality within technology.</div> 
	
			<div>The experience of interacting with the sloppy Google turns out to be boundless, people found it annoying, thought-provoking, creepy, funny, cute, fantastic, amazing, prankish and stupid...etc. It is the juxtaposition of human imperfections and technology that provokes different memories, feelings, and speculative thinkings about the relationship between human and technology.</div>
			<div>"The Search Operators" breaks the patterns of usability and pure functionalism, by creating narrative space within interactions.</div>
		</div>
	
	</div>
	
</div>
	
<!-- THE STORY -->
<div class="proximity">

	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div>
	</div>

	<div class="proximity_content">
				
		<div class="desc_title">The Story</div>
		
		<div class="desc">
			<div>
				<ul>
					<li>Keyword Input Operator: Surina</li>
					<li>Search Operator: Jarek</li>
					<li>Lucky Search Operator: Remo</li>
				</ul>	
			</div>
			
			<img src="/images/thesis/search/operators.jpg" style="width:530px;">
			
			<div style="margin-top:10px;">In another parallel Universe, cyber space is not quite the same. Surina the Keyword Input Operator is notorious for her bad work ethic. No one in the Google Web Search Department want to co-operate with her, let alone the customers who often complain about her miserable service. Today is the first day of work for Jarek and Remo the twin brothers who just join the department. They are assigned to work with Surina as a team to serve customers' search requests. While Jarek functions as the Search Operator, Remo is the Lucky Search Operator. It is a very demanding situation for the twins to perform their duties together with Surina, who yawns uncontrollably and carelessly at work. She constantly produces yawning noises, and pushes the twins away with her wide open mouth. Jarek and Remo wish Surina is only a nightmare, and they will soon wake up and break free of this endless repetition.</div>
			
		</div>
			
	</div>
		
</div>

<!-- REVIEWS -->
<div class="proximity">

	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div>
	</div>

	<div class="proximity_content">
				
		<div class="desc_title">Press Reviews</div>
		
		<div class="desc">
			
			<div>This project has being featured in several news articles and blog posts such as Huffington Post, Hacker News, Tech Crunch, Mashable, Dutch Cowboys, Times, The Next Web, Geekissimo, and Msnbc.</div>
			
			<div id="review_articles">
				
				<ul>
					<li><a class="link" target="_blank" href="http://www.huffingtonpost.com/2011/03/04/sloppy-google_n_831596.html">Sloppy Google: What If Google Got Lazy?<span style="color:#bbb;"> - Huffington Post</span></a></li>
				</ul>
				
				<ul>
					<li><a class="link" target="_blank" href="http://thenextweb.com/shareables/2011/03/03/what-if-google-search-was-lazy-video/">What if Google Search Was Lazy?<span style="color:#bbb;"> - The Next Web</span></a></li>
				</ul>
			
				<ul>
					<li><a class="link" target="_blank" href="http://thestir.cafemom.com/technology/117098/sloppy_google_thinks_youre_lazy">Sloppy Google Thinks You're Lazy and Dumb <span style="color:#bbb;"> - Cafemom</span></a></li>
				</ul>
			
			
				<ul>
					<li><a class="link" target="_blank" href="http://news.ycombinator.net/item?id=2283463">Insane HTML5 take on Google's interface<span style="color:#bbb;"> - Hacker News</span></a></li>
				</ul>
			
				<ul>
					<li><a class="link" target="_blank" href="http://www.dutchcowboys.nl/google/21757">Google Sloppy, de gapende zoekmachine<span style="color:#bbb;"> - Dutch Cowboys</span></a></li>
				</ul>
			
				<ul>
					<li><a class="link" target="_blank" href="http://techcrunch.com/2011/03/02/youre-sitting-in-a-chair-in-the-sky/">'Sloppy Google' Is Lazy And Incompetent, Like A Human<span style="color:#bbb;"> - Tech Cunch</span></a></li>
				</ul>
				
				<ul>
					<li><a class="link" target="_blank" href="http://technolog.msnbc.msn.com/_news/2011/03/04/6189272-what-if-google-got-sloppy">What if Google got sloppy?<span style="color:#bbb;"> - Msnbc</span></a></li>
				</ul>
				
				<ul>
					<li><a class="link" target="_blank" href="http://newsfeed.time.com/2011/03/07/reading-while-eating-for-march-7-sloppy-google-scary-sandwhiches-liquor-store-rage/">Reading While Eating for March 7<span style="color:#bbb;"> - Times</span></a></li>
				</ul>
			
			</div>
			
		
			<div>Theses reviews offered different perspectives to view this project. From a technical point of view, it is a very stimulating approach to implement interfaces using Html5 Canvas. To the public, it bridges the gap between technology and people with a narrative, and provokes thinking about human condition in the digital age. For creative communities, it proposes a new mode of interaction design that composes narratives within interactions. </div>
			
			
		</div>
			
	</div>
		
</div>

<!-- FUTURE WORK -->
<div class="proximity">

	<div class="lines" style="top:-19px">
		<div class="hor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">/</div>
		<div class="ver">/</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">&nbsp;</div>
		<div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div><div class="ver">|</div>
	</div>

	<div class="proximity_content">
				
		<div class="desc_title">Future Work</div>
		
		<div class="desc">
			
			<div>There's a lot of potential to play with the imperfect qualities in this project, by creating more nuances and behaviors in the characters. I am also interested in experimenting more UI behaviors that are not for functional use, but curiosity and imaginations. </div>
			
		</div>
			
	</div>
		
</div>